

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.spinner-black-only {
  border-color: #000000;
}

.logo-helper{
    vertical-align: middle;
    width: 40vw;
    min-height: 7vh;
    max-height: 8vh;
    height: 60px;
}

.logo-text {
    font-family: futura-pt, sans-serif;
    font-style: bold;
    font-weight: 700;
}
