#main-logo-container {
    width: auto;
    min-height: 7vh;
    max-height: 8vh;
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.spinner-black-only {
  border-color: #000000;
}
