<!DOCTYPE html>
<html>

<head>



    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ehirsh.css') }}">



    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Dropdown Structure -->
    <ul id="projects" class="dropdown-content">
        <li><a class="subheader disabled">Programming</a></li>
        <li><a class="black-text" href="https://www.github.com/evanextreme/website">Website</a></li>
        <li><a class="black-text" href="https://www.github.com/evanextreme/ritchie">Ritchie</a></li>
        <li><a class="black-text" href="https://www.github.com/foodtrax">Foodtrax</a></li>
        <li><a class="subheader disabled">Esports</a></li>
        <li><a class="black-text" href="https://www.esportsrit.com/">RIT Esports</a></li>
    </ul>

    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/"><img class="brand-logo center middle" style="height: 60px;" src="{{ url_for('static', filename='media/img/logo.png') }}" href="/" alt="Evan Hirsh"></img></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="hover dropdown-trigger hover waves-effect waves-light" href="#" data-target="projects">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="hover waves-effect waves-light" href="/contact">Contact</a></li>
            <li><a class="hover waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter" href="https://www.twitter.com/evanextreme"><i class="mdi mdi-twitter"></i></a></li>
            <li><a class="hover waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="GitHub" href="https://www.github.com/evanextreme"><i class="mdi mdi-github-face"></i></a></li>

        </ul>
      </div>
    </nav>


</div>
<ul class="sidenav" id="mobile-demo">
    <li><a class="waves-effect waves-light" href="https://www.twitter.com/evanextreme"><i class="mdi mdi-twitter right"></i>Twitter</a></li>
    <li><a class="waves-effect waves-light"  href="https://www.github.com/evanextreme"><i class="mdi mdi-github-face right"></i>GitHub</a></li>
    <li><a class="dropdown-trigger hover waves-effect waves-light" href="#" data-target="mobile-projects">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>
<ul id="mobile-projects" class="dropdown-content">
  <li><a class="subheader disabled">Programming</a></li>
  <li><a class="black-text" href="https://www.github.com/evanextreme/website">Website</a></li>
  <li><a class="black-text" href="https://www.github.com/evanextreme/ritchie">Ritchie</a></li>
  <li><a class="black-text" href="https://www.github.com/foodtrax">Foodtrax</a></li>
  <li><a class="subheader disabled">Esports</a></li>
  <li><a class="black-text" href="https://www.esportsrit.com/">RIT Esports</a></li>
</ul>


</head>

<body>

    <!-- <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-black-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div> -->
    {% block content %}{% endblock %}
</body>


<footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ehirsh.js') }}"></script>
</footer>

</html>
