 {% extends 'base.html' %} {% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-text">Hey 👋🏻 whats up?</h1>
        <div class="row center">
            <h5 class="header col s12 light">These are the 3 main services I use.</h5>
        </div>
        <div class="row center">
            <a href="sms:evan@ehirsh.com" class="waves-effect waves-light blue lighten-2 btn-large"><i class="material-icons right">send</i>iMessage</a>
        </div>
        <div class="row center">
            <a href="https://www.m.me/evanextreme" class="waves-effect waves-light blue darken-4 btn-large"><i class="material-icons right">send</i>FB Messenger</a>
        </div>
        <div class="row center">
            <a href="mailto:evan@ehirsh.com" class="waves-effect waves-light grey btn-large"><i class="material-icons right">send</i>Email</a>
        </div>
    </div>
</div>
{% endblock %}
