{% extends 'base.html' %} {% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="{{ url_for('static', filename='media/img/stone.jpg') }}"></div>
</div>
<div class="container">
    <p class="flow-text">My name is Evan Hirsh. I'm a software engineer + esports enthusiast attending RIT who is looking to be a full stack engineer. I have experience in cloud driven software development on large scale infrastructure, and software team leadership.
        I'm passionate about building the things I want to see, whether that's <a href="http://www.esportsrit.com">one of the leading student run esports clubs in the nation</a>,
        <a href="https://www.github.com/evanextreme/ritchie">a discord bot for tracking game stats / analyzing replays</a>, or <a href="https://www.github.com/evanextreme/website">this website</a>.</p>
</div>
<div class="row center">
    <a href="{{ url_for('static', filename='media/files/resume.pdf') }}" class="waves-effect waves-light light-blue btn-large"><i class="material-icons right">file_copy</i>Resume</a>
</div>
{% endblock %}
