 {% extends 'base.html' %} {% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-text">Hello 👋🏻</h1>
        <div class="row center">
            <h5 class="header col s12 light">Give me your money.</h5>
        </div>
        <div class="row center">
            <a href="http://www.paypal.me/evanextreme" class="waves-effect waves-light light-blue btn-large"><i class="material-icons right">attach_money</i>PayPal</a>
        </div>
        <div class="row center">
            <a href="http://cash.me/&#36;evanextreme" class="waves-effect waves-light green accent-4 btn-large"><i class="material-icons right">attach_money</i>Cash</a>
        </div>
        <div class="row center">
            <a href="http://www.venmo.com/evanextreme" class="waves-effect waves-light blue darken-3 btn-large"><i class="material-icons right">attach_money</i>Venmo</a>
        </div>
    </div>
</div>
{% endblock %}
