 {% extends 'base.html' %} {% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-text">Hello 👋🏻</h1>
        <div class="row center">
            <h5 class="header col s12 light">Give me your money.</h5>
        </div>
        <div class="row center">
            <a href="http://cash.me/&#36;evanextreme" class="waves-effect waves-light green accent-4 btn-large"><i class="material-icons right">attach_money</i>Cash</a>
        </div>
        <div class="row center">
            <a href="http://www.venmo.com/evanextreme" class="waves-effect waves-light blue darken-3 btn-large"><i class="material-icons right">attach_money</i>Venmo</a>
        </div>
        <h2 class="header center">Crypto stuff</h1>
        <div class="row center">
            <h5 class="header col s12 light">All stored securely on my Ledger wallet, not Coinbase. I wrote this so I don't forget. If you need an address for some other crypto, let me know.</h5>
        </div>
        <div class="row left">
            <b>BTC:</b> 347kU3fi1rgFkBybbh5CVWSK2TvqVME5Zk
        </div>
        <div class="row left">
            <b>BCH:</b> 1DpdL7EHjbimjFVZuvVEwfxGmeoxvxf4FT
        </div>
        <div class="row left">
            <b>ETH:</b> 0x8b11364D563CB577f235A72ca103E2f936cd1d7e
        </div>
        <div class="row left">
            <b>XRP:</b> raqMuRHUwoN9kxPNCEja4aXdBUxfxAJSLK
        </div>
    </div>
</div>
{% endblock %}
